services:
  nginx:
    image: nginx:1.25-alpine
    container_name: jelovnik-nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: jelovnik-php
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html

  db:
    image: nouchka/sqlite3
    container_name: jelovnik-db
    volumes:
      - ./database:/data
